body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.75em;
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #40514E;
  font-family: 'Montserrat', sans-serif;
}
.footer>p{
  color: #EAF6F6;
}

p {
  line-height: 2;
}

hr {
  border: dotted #11999E 7px;
  opacity: 40%;
  border-bottom: none;
  width: 7%;
  margin: 60px auto;
}

a {
  color: #EAF6F6;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  font-weight: 1000;
  color: #6699ff;
}

.hello {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 75px;
}

.hov:hover{
  font-weight: bold;
  color: #E9B384;
}

.about-me .skills .projects{
  margin: 100px 0;
}



.footer {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.hello>.welcome-sticker {
  height: 250px;
}

.pro {
  text-decoration: underline;
}


.about-me>.profile{
  display:grid;
  grid-template-columns:3fr 1fr;
  gap:15px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;

}

.profile>.about-image{
  height:200px;
}

.skills>ul{
  display: inline-grid;
  grid-template-columns: repeat(2,minmax(100px,600px));
  grid-template-rows: repeat(4,80px);
  gap: 5px;

}
.skills>ul>li {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #66BFBF;

}

.projects>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,250px));
  gap: 5px;
  justify-content:center;
}
.project-preview {
  display: flex;
  height: 100px;
  justify-content: center;
  align-content: center;
}

.container {
  display: flex;
  width: 60%;
  background-color: #ddd;
  margin-left: 10px;
}

.skill-bar {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.py{
  width:80%;
  background-color: #30A2FF;
}
.ml{
  width:40%;
  background-color: #94B3FD;
}
.cpp{
  width:80%;
  background-color: #00C4FF;
}
.dsa{
  width:70%;
  background-color: #CECE5A;
}
.html{
  width:90%;
  background-color: #F8DE22;
}
.css{
  width:90%;
  background-color: #FFC436;
}
.js{
  width:80%;
  background-color: #F0DE36;
}
.sql{
  width:90%;
  background-color: #FFE17B;
}
